// COLORS

$color-1: rgb(38, 45, 57);
$color-2: rgb(136, 179, 208);
$color-3: rgb(148, 136, 103);
$color-4: rgb(85, 89, 92);
$color-5: rgb(254, 248, 200);
$color-6: rgb(247, 241, 223);

// SPACING

$space-1: 1em;