.home {
   .banner {
      gap: 1em;
      background-image:
         linear-gradient(#2a8dd030 75%, #2a8dd080, #2a8dd0 95%),
         url('../../assets/imgs/jerusalem/jeru-bridge.webp'), ;

      >* {
         flex: 0;
      }

      .card2 {
         position: absolute;
         top: 50%;
         left: 7.5%;
         transform: translateY(-50%);

         @media (max-width:900px) {
            left: 50%;
            transform: translate(-50%, -90%);
         }
      }

      h1 {
         color: white;
         font-size: 5vw;
         font-family: 'Gibson-bold';
         text-align: center;
         text-stroke: 2px $c5;
         -webkit-text-stroke: 2px $c5;
         text-shadow: $shadow-dark;
         margin: 1em 1em 0 1em;

         @media (max-width:900px) {
            text-stroke: 2px $c5;
            -webkit-text-stroke: 2px $c5;
            font-size: 7.5vw;
         }

      }

      .isreal {
         text-align: center;
         font-size: 5.5vw;
         font-family: 'Gibson-bold';
         color: $c5;
         text-shadow: $shadow-dark;

         @media (max-width:900px) {
            font-size: 10vw;
            -webkit-text-stroke: 0.5px white;
            text-stroke: 0.5px white;
         }
      }

      h2 {
         color: $c2;
         font-size: 7vw;
         font-family: 'Patua';
         font-weight: 600;
         text-align: center;
         // -webkit-text-stroke: 2px $c2;
         // text-stroke: 1px $c2;
         // text-shadow: $shadow-light;

         @media (max-width:900px) {
            font-size: 12vw;
            // -webkit-text-stroke: 0.1px $c2;
            // text-stroke: 0.1px $c2;
         }
      }

      .rotating-text-container {
         width: 80%;
         margin: 1em auto;

         @media (max-width:900px) {
            width: 80%;
            margin: 0 auto;
         }
      }
   }





   a.btn {
      margin: 2em;
   }
}