.rotating-text {
   position: relative;
   display: inline-block;
   font-size: 3.5vw;
   // line-height: 1;
   font-family: 'Gibson-bold';

   color: $c6;
   -webkit-text-stroke: 2px $c2;
   text-stroke: 1px $c2;
   text-shadow: $shadow-light;

   @media (max-width: 900px) {
      font-size: 7vw;
   }

   span {
      color: $c5;
      -webkit-text-stroke: 0.5px white;
      text-stroke: 0.5px white;
      font-family: 'Gibson-bold';
      white-space: nowrap;
      display: inline-block;
      position: absolute;
      font-size: 4vw;
      top: 50%;
      text-shadow: $shadow-dark;
      margin-left: 0.25em;
      animation: slideUp var(--rotating-text-frequency) ease-in-out infinite;

      @media (max-width: 900px) {
         font-size: 7.5vw;
         top: 75%;
         -webkit-text-stroke: 0.5px white;
         text-stroke: 0.5px white;
         text-shadow: none;

      }
   }
}

@keyframes slideUp {
   0% {
      opacity: 0;
      transform: translateY(-40%);
   }

   5% {
      opacity: 1;
      transform: translateY(-50%);
   }

   85% {
      opacity: 1;
      transform: translateY(-50%);
   }

   95% {
      opacity: 0;
      transform: translateY(-60%);
   }

   100% {
      opacity: 0;
      transform: translateY(-60%);
   }
}