.search {
   border-radius: 5px;
   position: relative;
   width: fit-content;

   input {
      border: 2px solid $c2;
      outline: none;
      color: black;
      flex-grow: 1;
      padding: 0.25em 0.5em;
      border-radius: 5px;
      max-width: 200px;
      padding-right: 2.75em;
      min-height: 32.5px;
      box-shadow: 0 0 0px 1000px white inset;
      -webkit-text-fill-color: black;
   }

   input::placeholder {
      -webkit-text-fill-color: gray;
   }

   svg {
      width: 30px;
   }

   label {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
   }

   .global-search-table {
      position: absolute;
      top: 100%;
      z-index: 999;
      height: 50vh;
      width: 80vw;
      max-width: 1250px;
      left: -100%;

      .roles {
         flex-direction: column;
      }
   }


   .clear-search svg {
      width: 10px;
      height: 10px;
      margin-right: 5px;

      path {
         fill: black;
      }
   }
}

#searchLoader {
   border: 5px solid white;
   border-radius: 50%;
   border-top: 3.5px solid gray;
   border-right: 3.5px solid gray;
   border-bottom: 3.5px solid gray;
   width: 22.5px;
   height: 22.5px;
   -webkit-animation: spin 1s linear infinite;
   animation: spin 1s linear infinite;
}